.App {
    font-family: 'cursive','sans-serif';
    text-align: center;
  }
  
  .alert-row td {
    background-color: #fdf2e9;
  }
  

  @media only screen and (max-width: 600px) { 
    .tr-row {
      width: 50%;
    }
 }